<!DOCTYPE html>
<html lang="en">
<head th:replace="~{header :: head}">

</head>
<body>
<header th:replace="~{header :: header}">
</header>
<main>
  <div id="formlogin">
    <h1>Admin</h1>
    <div class="manage">
      <a class="badge badge-warning" href="">Quản lí sản phẩm</a>
    </div>
    <div class="manage">
      <a class="badge badge-warning" href="">Quản lí shipper</a>
    </div>
    <div class="manage">
      <a class="badge badge-warning" href="">Quản lí đơn hàng</a>
    </div>
    <div class="manage">
      <a class="badge badge-warning" href="">Xem báo cáo thống kê</a>
    </div>
  </div>
</main>
</body>
</html>